<h2>show data of id:<%= @portfoliio_item.id %></h2>
<p><%= image_tag @portfoliio_item.main_img %></p>
<em><%= @portfoliio_item.title %></em>
<p><%= @portfoliio_item.subtitle %></p>
<p><%= @portfoliio_item.body %></p>
<%= params.inspect %>